<div class="uk-width-auto searchWrapper uk-visible@m">
  <a href="#searchModal" data-uk-toggle title="" class="uk-display-inline-block icon"><img src="catalog/view/theme/salamatandishan/image/sprite.svg#search" width="24" height="24" data-uk-svg></a>
  <div class="searchModal" id="searchModal" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-border-rounded uk-box-shadow-small">
      <div>
        <div id="search">
          <form class="uk-margin-remove saForm" action="https://salamatandishan.net/search">
            <fieldset class="uk-margin-remove uk-padding-remove">
              <div class="uk-grid-small" data-uk-grid>
                <div class="uk-width-1-1 uk-width-expand@m">
                  <input type="search" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="uk-input uk-border-rounded uk-width-1-1 uk-text-center uk-text-right@m font" autofocus />
                </div>
                <div class="uk-width-1-1 uk-width-1-3@m">
                  <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded font">جستجو</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>